# Advance Set

In [1]:
# creating of set 
s = set();

In [7]:
s.add(1) # we cant add multiple data values in same line

In [3]:
s

{1}

In [26]:
s.add(1)

In [27]:
s  # this wont allow any duplicate items

{1, 2, 3}

In [28]:
s.add(2)
s.add(3)
s.add(4)

In [29]:
s

{1, 2, 3, 4}

In [30]:
# to remove elements from  set 
s.clear()

In [31]:
s

set()

In [42]:
s = {1,2,3}
s

{1, 2, 3}

In [43]:
# copy method
scopy = s.copy # coping values to new string

In [44]:
scopy() # new copied set

{1, 2, 3}

In [45]:
s.add(4)
s # old set with additional data

{1, 2, 3, 4}

In [50]:
# this return elements that are diffrent from both sets
s = {1, 2, 3}
scopy = s.copy()  # Call the copy method with parentheses
s.add(4)
s.difference(scopy)  # compare scopy elements with s

{4}

In [56]:
# diffrence set 
s1 = {1,2,3}
s2 ={1,4,5}

In [57]:
s1.difference_update(s2)

In [58]:
s1 # this will return the set 1 elements after matching set.

{2, 3}

In [61]:
# to remove a specific element 
s1.discard(3)  # if it is in set that will remove. if not in set nothing happens.
s1

{2}

In [62]:
# intersection 
s1 = {1,2,3}
s2 = {1,2,4}    # this will give commen elements only.
s1.intersection(s2) # this just show the value and dont update.

{1, 2}

In [63]:
s1

{1, 2, 3}

In [66]:
s1.intersection_update(s2) #  this also updates the common value  to set

In [67]:
s1

{1, 2}

In [68]:
# we can also check inter section 
s1.isdisjoint(s2) # as it has common value this is false

False

In [71]:
s3 = {9,8,7}
s3.isdisjoint(s1)   # we dont have common elements 
# this senario is called null intersection

True

In [72]:
s1

{1, 2}

In [73]:
s2

{1, 2, 4}

In [74]:
# we can also check sub set 
s1.issubset(s2) # s2 set is having small data with common values

True

In [75]:
# super set
s2.issuperset(s1) # s2 set is having big data with common values

True

In [76]:
# to see uncommon elements 
s1.symmetric_difference(s2)  # as 1,2 are there in set and 4 is not there we get this here.

{4}

In [78]:
# union  - gives us all the elements that are either of sets  (common + uncommon)
s1.union(s2)

{1, 2, 4}

In [81]:
# to update a existing set value with other set 
s1.update(s2)
s1  # earlier s1 has only 1,2 values only

{1, 2, 4}